.app-inner {
  @apply flex flex-1;
  &.mobile {
    @apply gap-1;
  }
  &.desktop {
    @apply flex-col;
  }
}
.app-content {
  &.mobile {
    @apply flex flex-1 flex-col gap-1 overflow-y-auto overflow-x-hidden bg-transparent;
  }
  &.desktop {
    @apply flex-1 w-full pb-6
    /* overflow-hidden */
    overscroll-contain;
  }
}

.app-layout {
  &.desktop {
    @apply flex
    /* pb-[calc(var(--safe-area-inset-bottom)+92px)] */
    /* pt-[calc(var(--safe-area-inset-top)+20px)]  */
    h-auto
    w-full;
  }

  &.mobile {
    @apply w-full relative mx-auto flex h-full transform flex-col transition-all duration-200;
  }
}

.app-header {
  @apply fixed left-0 right-0 top-0 z-30;
  &.mobile {
    @apply z-40 h-14 w-full bg-primary px-2;
  }
  &.desktop {
    @apply z-30 h-header border-b bg-alpha-white px-6 sm:px-0;
  }
}
.app-breadcrumb {
  @apply hide-scrollbar flex items-end gap-1 overflow-y-auto whitespace-nowrap border-b px pr py-4 align-middle text-sm leading-none sm:border-b-0 sm:px-0 sm:py-8;
}

.app-footer {
  &.desktop {
    @apply bg-secondary text-alpha-white;
  }
  &.mobile {
    @apply fixed bottom-0 left-0 z-50 w-full transform border-t border-alpha-200 bg-alpha-white pb-[calc(env(safe-area-inset-bottom)*0.4)] transition-all duration-300 dark:border-alpha-600 dark:bg-alpha-700;
    /* &.short {
      @apply translate-y-[calc(env(safe-area-inset-bottom)*0.5+4rem)];
    } */
  }
}
.app-header-ghost {
  &.mobile {
    @apply h-14 w-full bg-transparent;
  }
  &.desktop {
    @apply h-header w-full bg-transparent;
  }
}
.app-sidebar {
  @apply fixed
    top-0
    md:top-[calc(theme('spacing.header')+theme('spacing.6'))]
    z-20
    h-full
    flex-shrink-0
    translate-x-80
    bg-opacity-90
    bg-alpha-white
    backdrop-blur-sm
    transition
    min-w-80
    w-80
    duration-200
    lg:sticky
    lg:translate-x-0
    dark:bg-alpha-950
    dark:bg-opacity-10;

  &.open {
    @apply translate-x-0 z-50 hide-scrollbar rounded-l-lg bg-opacity-80 bg-alpha-white;
  }

  .app-sidebar-inner {
    @apply relative flex md:rounded-2xl md:border overflow-auto max-h-screen md:max-h-[80vh] hide-scrollbar;
  }
}

.app-navigation {
  @apply z-10
    w-full
    flex-shrink-0
    p-6
    transition-all;

  .app-navigation-container {
    @apply flex flex-1 flex-col overflow-y-auto;
  }
  .app-navigation-section {
    &-list {
      @apply flex flex-col divide-y;
    }
    &-label {
      @apply py-2
        text-sm
        font-medium
        text-alpha-600
        dark:text-alpha-500;
    }
  }
  .app-navigation-item {
    @apply py-2;
    > span {
      &.error {
        @apply text-error-700
          hover:bg-error-200
          hover:bg-opacity-50
          dark:text-error-400
          dark:hover:bg-error-800
          dark:hover:bg-opacity-30;
      }

      &.success {
        @apply text-success-700
          hover:bg-success-200
          hover:bg-opacity-50
          dark:text-success-400
          dark:hover:bg-success-800
          dark:hover:bg-opacity-30;
      }

      @apply flex
          w-full
          items-center
          gap-2
          rounded
          px-2
          py-3
          leading-normal
          text-alpha-700
          hover:bg-alpha-200
          hover:bg-opacity-50
          dark:text-alpha-400
          dark:hover:bg-alpha-800
          dark:hover:bg-opacity-30;
    }

    .app-navigation-item-link {
      @apply flex flex-1 items-center gap-2;

      .icon {
        &.error {
          @apply text-error-700
        dark:text-error-600;
        }

        &.success {
          @apply text-success-700
        dark:text-success-600;
        }
        @apply h-5
        w-5
        text-alpha-400
        dark:text-alpha-600;
      }
    }

    .app-navigation-item-arrow {
      @apply mr-auto
            flex
            h-6
            w-6
            items-center
            justify-center
            text-alpha-500
            focus:outline-none
            focus-visible:outline-none
            dark:text-alpha-600;
    }

    &:has(.active),
    &.active {
      > span {
        @apply bg-alpha-200
              font-medium
              text-alpha-800
              dark:bg-alpha-800
              dark:bg-opacity-50
              dark:text-alpha-200;
      }

      .app-navigation-item-link {
        .icon {
          @apply text-alpha-700
                  dark:text-alpha-300;
        }
      }
      .app-navigation-item-arrow {
        @apply rotate-180;
      }
      .app-navigation-item-children {
        @apply flex;
      }
    }

    &.has-child.open {
      .app-navigation-item-arrow {
        @apply rotate-180;
      }
      .app-navigation-item-children {
        @apply flex;
      }
    }

    .app-navigation-item-children {
      @apply ms-4
        hidden
        flex-col
        border-s
        border-alpha-300
        pt-3
        dark:border-alpha-700;

      .app-navigation-item-children-item {
        .app-navigation-item-children-item-link {
          @apply flex
            w-full
            items-center
            space-x-2
            space-x-reverse
            rounded
            px-2
            py-3
            leading-normal
            text-alpha-600
            before:-ms-3
            before:me-3
            before:block
            before:h-2
            before:w-2
            before:rounded-full
            before:bg-alpha-300
            hover:text-alpha-700
            dark:text-alpha-500
            dark:before:bg-alpha-700
            dark:hover:text-alpha-400;

          &.active {
            @apply text-alpha-700 before:bg-primary-600 dark:text-alpha-400;
          }
        }
      }
    }
  }
}

[data-radix-popper-content-wrapper] {
  width: 100%;
  max-width: var(--radix-popper-anchor-width);
}
