.app {
  /* @apply flex flex-col; */
  &.mobile {
    @apply overflow-hidden flex flex-col h-full min-h-0 pb-[calc(env(safe-area-inset-bottom)*0.4)];
  }
  &.desktop {
    @apply min-h-0 flex-1;
  }
}
.app-inner {
  /* @apply flex; */
  &.mobile {
    @apply flex flex-1 gap-1 overflow-hidden;
  }
  /* &.desktop {
    @apply;
  } */
}
.app-content {
  &.mobile {
    @apply h-full flex flex-col gap-1 overflow-y-scroll overflow-x-hidden bg-transparent;
  }
  &.desktop {
    @apply flex-1 w-full pb-6 overscroll-contain overflow-x-hidden pl-1;
  }
}

.app-layout {
  &.desktop {
    @apply flex
    /* pb-[calc(var(--safe-area-inset-bottom)+92px)] */
    /* pt-[calc(var(--safe-area-inset-top)+20px)]  */
    h-auto
    w-full;
  }

  &.mobile {
    @apply w-full flex-1 relative mx-auto transform transition-all duration-200;
  }
}

.app-header {
  @apply fixed inset-0 z-30;
  &.mobile {
    @apply z-40 h-14 w-full bg-primary px-2;
  }
  &.desktop {
    @apply z-30 h-header border-b bg-alpha-white px-6 sm:px-0;
  }
}
.app-breadcrumb {
  @apply hide-scrollbar flex items-end gap-1 overflow-y-auto whitespace-nowrap border-b px pr py-4 align-middle text-sm leading-none sm:border-b-0 sm:px-0 sm:py-8;
}

.app-footer {
  &.desktop {
    @apply bg-secondary text-alpha-white;
  }
  &.mobile {
    @apply pb-[calc(env(safe-area-inset-bottom)*0.4)] fixed inset-x-0 bottom-0 z-50 w-full transform border-t border-alpha-200 bg-alpha-white transition-all duration-300 dark:border-alpha-600 dark:bg-alpha-700;
    /* &.short {
      @apply translate-y-[calc(env(safe-area-inset-bottom)*0.5+4rem)];
    } */
  }
}
.app-header-ghost {
  &.mobile {
    @apply h-14 w-full bg-transparent;
  }
  &.desktop {
    @apply h-header w-full bg-transparent;
  }
}
.app-sidebar {
  @apply fixed
    top-0
    md:top-[calc(theme('spacing.header')+theme('spacing.6'))]
    z-20
    h-full
    flex-shrink-0
    translate-x-[600px]
    bg-opacity-90
    bg-alpha-white
    backdrop-blur-sm
    transition
    min-w-80
    w-80
    duration-200
    lg:sticky
    lg:translate-x-0
    dark:bg-alpha-950
    dark:bg-opacity-10;

  &.open {
    @apply translate-x-0 z-50 hide-scrollbar rounded-l-lg bg-opacity-80 bg-alpha-white;
  }

  .app-sidebar-inner {
    @apply relative flex overflow-auto max-h-screen md:border md:border-alpha-200 md:rounded-xl md:bg-alpha-100 md:max-h-[80vh] hide-scrollbar;
  }
}

.app-navigation {
  @apply z-10
    w-full
    flex-shrink-0
    transition-all;

  .app-navigation-container {
    @apply flex flex-1 flex-col overflow-y-auto gap-6 md:rounded-xl p-6 md:p;
  }
  .app-navigation-section {
    @apply bg-alpha-white rounded-xl overflow-auto;
    &-list {
      @apply flex flex-col;
    }
    &-label {
      @apply py-2
        text-sm
        font-medium
        text-alpha-600
        dark:text-alpha-500;
    }
  }
  .app-navigation-item {
    > span {
      &.error {
        @apply text-error-700
          hover:bg-error-200
          dark:text-error-400
          dark:hover:bg-error-800;
      }

      &.success {
        @apply text-success-700
          hover:bg-success-200
          dark:text-success-400
          dark:hover:bg-success-800;
      }

      &.primary {
        @apply text-primary-700
          hover:bg-primary-200
          dark:text-primary-400
          dark:hover:bg-primary-800;
      }
      &:not(.not-hover) {
        @apply md:hover:bg-alpha-200 dark:md:hover:bg-alpha-800;
      }

      @apply flex
        w-full
        items-center
        gap-2
        leading-normal
        text-alpha-800
        dark:text-alpha-400;
    }

    .app-navigation-item-link {
      @apply flex flex-1 items-center gap-4 pr-4;
      > span {
        @apply border-b py-4 flex-1 md:border-alpha-300 flex justify-between pl-4;
      }

      .icon {
        @apply h-8 w-8 rounded-md p-1;
      }
    }

    .app-navigation-item-arrow {
      @apply mr-auto
            flex
            h-6
            w-6
            items-center
            justify-center
            text-alpha-500
            focus:outline-none
            focus-visible:outline-none
            dark:text-alpha-600;
    }

    &:has(.active),
    &.active {
      > span {
        @apply font-medium text-primary after:bg-primary after:h-7 after:w-1 after:rounded-2xl after:content-[''];
      }

      .app-navigation-item-link {
        .icon {
          @apply text-alpha-white;
        }
      }
      .app-navigation-item-arrow {
        @apply rotate-180;
      }
      .app-navigation-item-children {
        @apply flex;
      }
    }

    &.has-child.open {
      .app-navigation-item-arrow {
        @apply rotate-180;
      }
      .app-navigation-item-children {
        @apply flex;
      }
    }

    .app-navigation-item-children {
      @apply ms-10
        hidden
        flex-col
        /* border-s */
        border-alpha-300
        pt-3
        dark:border-alpha-700;

      .app-navigation-item-children-item {
        .app-navigation-item-children-item-link {
          @apply flex
            w-full
            items-center
            space-x-2
            space-x-reverse
            rounded
            px-2
            py-3
            leading-normal
            text-alpha-600
            before:-ms-3
            before:me-3
            before:block
            before:h-2
            before:w-2
            before:rounded-full
            before:bg-alpha-300
            hover:text-alpha-800
            dark:text-alpha-500
            dark:before:bg-alpha-700
            dark:hover:text-alpha-400;

          &.active {
            @apply text-alpha-800 before:bg-primary-600 dark:text-alpha-400;
          }
        }
      }
    }
  }
  .app-navigation-item:last-child {
    .app-navigation-item-link {
      > span {
        @apply border-b-0;
      }
    }
  }
}

[data-radix-popper-content-wrapper] {
  width: 100%;
  max-width: var(--radix-popper-anchor-width);
}
