NEXT_PUBLIC_SITE_URL=https://stage.vardast.ir
NEXT_PUBLIC_PROJECT_NAME_FOR=admin

NEXTAUTH_URL=https://stage.vardast.ir
# NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32