html[lang="fa"] {
  direction: rtl;
}
html {
  @apply font-iranYekan antialiased h-full;
}
/* * {
  scrollbar-width: thin;
  scrollbar-color: unset;
} */

/* body {
  @apply overflow-hidden m-0 p-0 ;
} */
body {
  @apply h-full;
}
